@import "../global"

header,
.header
  position: fixed
  left: 0
  right: 0
  top: 0
  backdrop-filter: blur(10px)
  &--container
    @include container
    &--line
      @include line
    &--content
      display: flex
      justify-content: space-between
      align-items: center
      padding: 10px 0
      &--title
        font-size: 24px
        letter-spacing: .4em
        color: $primary_white_color
      &--button
        padding: 5px 10px
        background-color: $primary_white_color
        border-radius: 5px
        font-size: 16px
        letter-spacing: .08em
        color: $secondary_black_color
