@import "../global"

.hero
  padding-top: 155px
  &--container
    @include container
    &--title
      width: 70%
      font-size: 48px
      letter-spacing: .4em
      font-family: 'Jost', sans-serif
      font-weight: 400
      color: $primary_white_color
    &--line
      margin: 100px 0 50px 0
      @include line
.services,
.personal
  &--container
    @include container
    &--title
      font-size: 48px
      letter-spacing: .4em
      font-family: 'Jost', sans-serif
      font-weight: 400
      color: $primary_white_color
    &--content
      padding-top: 50px
      cursor: grab
    &--line
      margin: 50px 0
      @include line

.app-main
  padding: 20px 0 0 110px
  &--container
    padding: 50px 20px 0 20px
    &--content
      padding-top: 50px
      &--title-wrapper
        display: flex
        justify-content: space-between
        align-items: center
        &__button
          @include formButton
          width: auto !important
          padding: 15px 5px 15px 10px !important
          &:hover
            background-color: $primary_white_color
            color: $secondary_black_color
        &--title
          display: flex
          align-items: center
          gap: 10px
          &__text
            font-size: 32px
            letter-spacing: .4em
            color: $primary_white_color
          &__act
            font-size: 18px
            letter-spacing: .2em
            color: $secondary_white_color
            padding: 5px
            border: 1px solid $secondary_white_color
            border-radius: 5px
            cursor: pointer
            transition: 200ms ease-in
            &:hover
              background-color: $secondary_black_color
              color: $secondary_white_color
            &::-ms-value
              color: $secondary_black_color
            &::placeholder
              color: $secondary_black_color
      &__line
        @include line
        margin: 20px 0
      &__warning
        width: 270px
        font-size: 18px
        letter-spacing: .2em
        padding: 10px
        margin: 20px 0
        color: $secondary_black_color
        background-color: $secondary_white_color
        border-radius: 5px
      &--title
        font-size: 32px
        letter-spacing: .4em
        color: $primary_white_color
      &--current-records
        display: flex
        align-items: flex-start
        justify-content: space-between
      &--swiper
        cursor: grab
        margin: 20px 0
      &--health
        display: flex
        align-items: center
        gap: 20px
        margin: 20px 0
        &__warning
          width: 130px
          font-size: 18px
          letter-spacing: .2em
          padding: 10px
          margin: 20px 0
          text-align: center
          color: $secondary_black_color
          background-color: $secondary_white_color
          border-radius: 5px