@import "../global"

.hero
  padding-top: 155px
  &--container
    @include container
    &--title
      width: 70%
      font-size: 48px
      letter-spacing: .4em
      font-family: 'Jost', sans-serif
      font-weight: 400
      color: $primary_white_color
    &--line
      margin: 100px 0 50px 0
      @include line
.services,
.personal
  &--container
    @include container
    &--title
      font-size: 48px
      letter-spacing: .4em
      font-family: 'Jost', sans-serif
      font-weight: 400
      color: $primary_white_color
    &--content
      padding-top: 50px
      cursor: grab
    &--line
      margin: 50px 0
      @include line

.app-main
  padding: 20px 0 0 100px
  &--container
    padding: 50px 20px 0 20px
    &--content
      padding-top: 50px
      &--title
        font-size: 32px
        letter-spacing: .4em
        color: $primary_white_color
        padding-bottom: 20px
      &--current-records
        display: flex
        align-items: flex-start
        justify-content: space-between

